body {
	margin-top: 10%;
	font-family: Arial;
	font-size: 14px;
	font-style: bold;
}
input, select {
	width: 20%;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
	/*width: 20%;
	
	background-color: #FF8C00;
	color: white;
    padding: 14px 25px;
    text-align: center;
    font-style: bold;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;*/
}

input[type=reset]{
    background-color: #FF8C00;
}

input[type=submit]{
    background-color: #FF8C00;
}